<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Login</title>
    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="css/theme.css" rel="stylesheet" media="all">
    <link href="css/style.css">
</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="images/logo_sign_in.png" alt="CoolAdmin">
                            </a>
                        </div>
                       
                            <h5 style="color:red" id="passwrd-error">
                               
                            </h5>
                       <% if(typeof user_msg == "undefined") { %>
                        <div class="login-form">
                            <form  id="form_reset" action="/password_match" method="POST">
                                <div class="form-group">
                                    <label>Add Password</label>
                                    <input class="au-input au-input--full" type="password" id="password1" name="password" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input class="au-input au-input--full" type="password" id="password2" name="password2" placeholder="Password">
                                    <input type="hidden" name="object_id" id="object_id">
                                    <input type="hidden" name="key" id="key">
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Submit</button>
                          
                            </form>
                          
                        </div>
                         <% } else { %>
                           <h5 style="color:red">
                                <p><%= user_msg %></p>
                            </h5>
                         <% } %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    </script>
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="admin/login-script.js"></script>
    <script>
        var url_data = location.search.slice(1).split("&");
        var key = url_data[0].split("=");
        var object_id = url_data[1].split("=");
        $('#object_id').val(object_id[1]);
        $('#key').val(key[1]);
    </script>
</body>

</html>
<!-- end document-->